
.bg-links{
    background-color: #F1DF26 ;
}

.alert{
    font-size: 23px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.bi{
    margin-right: 15px;
    font-size: 28px;
}