
.bg-view{
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.link-view-div {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid black;
    min-height: 425px;
    width: 285px;
    margin-top: 75px;
    height: fit-content;
    display: block;
    margin-bottom: 10px;
}

.link-view-div .bg-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .1;
}

.card.card-body {
    color: white;
}

.alert{
    font-size: 23px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.bi{
    margin-right: 15px;
    font-size: 28px;
}
// @import '/src/styles.scss'; // to import sass variables

.card {
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 13px;
}

.profile {
    height: 45px;
    width: 45px;
    padding: 0px;
    border: solid 1px;
    border-radius: 50%;
}

.position-bottom-abs {
    position: absolute;
    bottom: 20px;
}

.content {
    height: 100vh;
}

.btnsAdd {
    font-size: 17px;
    padding: 10px 20px;
    color: white;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: 600;
}

.alert {
    margin-top: 10px;
}

h5 .bi,
.alert .bi {
    font-size: 30px;
    position: absolute;
    left: 5px;
    top: -3px;
    color: white;
}

.alert {
    color: white;
}

.alert .bi {
    left: 5px;
    left: 10px;
    top: -4px;
}

.text-success {
    color: #04cd8a !important;
}

h4 {
    text-transform: capitalize;
}


.bg-dark {
    background-color: #373737 !important;
}



.whatsapp-group .whatsapp-input {
    margin-top: 0px;
}

.collapse .btn-dark{
    margin-top: 10px;
}

.choose-link {
    background-color: antiquewhite;
    border-radius: 15px;
    margin-top: 67px;
}

.choose-link h1 {
    text-align: center;
    font-family: initial;
    font-style: italic;
    padding: 45px 0px;
    width: 100%;
}

.collapse{
    margin-top: 25px;
}

select.countryCode{
    width: 100px !important;
    height: 40px;
}

.link-data{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-transform: capitalize;
}

.photo-promo{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-top: 8px;
}

@media screen and (max-width:700px) {
    .link-view-div{
        width: 90%;
    }
    .profile{
        margin-bottom: 5px;
    }
}

