
 <!-- mobile left view -->
 <div class="col-12 text-center d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="!currentUser.active">
    <div>
        <h1 class="text-info"> This account is disabled</h1> 
        <h5 class="text-info"> <a class="text-decoration-underline" routerLink="/home">back to home</a></h5>
    </div>
 </div>
 <div class="col-12 bg-light d-flex justify-content-center" style="min-height: 100vh;" *ngIf="currentUser.active">
    <div class="text-center div-content">
        <div class="link-view-div text-center">
            <img [src]="currentUser.bgUrl" alt="" class="bg-img" *ngIf="currentUser.bgUrl">
            <img [src]="currentUser.photoUrl" alt="" class="profile">
            <h6 class="text-capitalize text-center" *ngIf="currentUser.Name">{{currentUser.Name}}</h6>
            <h6 class="text-capitalize text-center" *ngIf="currentUser.bio">{{currentUser.bio}}</h6>
            <a href="https://wa.me/{{currentUser.countryCode}}{{currentUser.whatsapp}}" target="_blank" class="alert bg-success" *ngIf="currentUser.whatsapp" (click)="update('whatsapp')"><i class="bi bi-whatsapp"></i> whatsapp</a>
            <a [href]="currentUser.snapchat" target="_blank" class="alert bg-warning" *ngIf="currentUser.snapchat" (click)="update('snapchat')"><i class="bi bi-snapchat"></i> snapchat</a>
            <a [href]="currentUser.instagram" target="_blank" class="alert bg-danger" *ngIf="currentUser.instagram" (click)="update('instagram')"><i class="bi bi-instagram"></i> instagram</a>
            <a [href]="currentUser.tiktok" target="_blank" class="alert bg-dark" *ngIf="currentUser.tiktok" (click)="update('tiktok')"><i class="bi bi-tiktok"></i> tiktok</a>
            <a [href]="currentUser.facebook" target="_blank" class="alert bg-primary" *ngIf="currentUser.facebook" (click)="update('facebook')"><i class="bi bi-facebook"></i> facebook</a>
            <a [href]="currentUser.X" target="_blank" class="alert bg-dark" *ngIf="currentUser.X" (click)="update('x')"><i class="bi bi-twitter-x"></i> X</a>
        </div>
        <img src="assets/logo.jpg" alt="" class="bg-view">
    </div>
</div>