
.bg-view{
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@media screen and (max-width:700px) {
    .link-view-div{
        width: 90%;
    }
    .profile{
        margin-bottom: 5px;
    }
}

