<div class="col-12 footer position-relative">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="position-absolute">
        <path fill="#F1DF26" fill-opacity="1" style="height: 100px;"
            d="M0,128L120,144C240,160,480,192,720,176C960,160,1200,96,1320,64L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
        </path>
    </svg> -->

    <img src="assets/a.PNG" alt="" class="position-absolute">

    <div>
        <div class="text-center">
            <h3>Our Social Media</h3>
            <a href="" class="text-dark"><i class="bi m-2 bi-tiktok"></i></a>
            <a href="" class="text-success"> <i class="bi m-2 bi-whatsapp"></i> </a>
            <a href="" class="text-danger"><i class="bi m-2 bi-instagram "></i></a>
            <a href="" class="text-primary"><i class="bi m-2 bi-facebook "></i></a>
            <a href="" class="text-warning"><i class="bi m-2 bi-snapchat "></i></a>
            <a href="" class="text-dark"><i class="bi m-2 bi-twitter-x "></i></a>
        </div>

        <div class="text-center">
            <p>@جميع حقوق الحقوق محفوظة</p>
        </div>
    </div>

</div>