@import '/src/styles.scss'; // to import sass variables

.navbar{
    background-color: $bg-color-warnings !important;
    background-image: linear-gradient(347deg, #9b9606, transparent);
}

.profile{
    height: 45px;
    width: 45px;
    padding: 0px;
    border: solid 1px;
    border-radius: 50%;
}

