<div class="col-sm-12 d-flex justify-content-center align-items-center all-content">
    <div class="col-sm-5 p-5 pt-2 card">
        <h2 class="text-center text-warning m-1 pb-3">Forget Password</h2>
        <form [formGroup]="forget" (ngSubmit)="submit()">
            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="enter your Email">
                <div class="text-center m-2">
                    <button class="btn btn-warning">send email</button>
                </div>
                <!-- <div class="text-center d-block">
                    <small class="alert alert-warning">
                        (noreply) ستصلك رسالة لتغيير كلمة المرور من
                        <br>
                        You will receive a message to change your password from (noreply)
                    </small>
                </div> -->
            <a routerLink="/login" class="text-capitalize">login again</a>
        </div>
        </form>
    </div>
</div>