

<div class="col-12">
    <div class="container pt-5">
        <div class="col-sm-5 card mt-5">
            <form [formGroup]="signUpData" (ngSubmit)="signUp()">
                <h2 class="text-center text-warning"> Create Account</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="text" placeholder="User Name" formControlName="userName">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" email>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pass" placeholder="Password" formControlName="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-secondary text-capitalize">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-loader *ngIf="load"></app-loader>
