<div class="col-12">

  <div class="home-front-part">
    <img src="assets/2.png" alt="" class="square-circle">
    <img src="assets/3.png" alt="" class="circle1">
    <!-- <img src="assets/3.png" alt="" class="circle2" > -->
    <img src="assets/3.png" alt="" class="circle3">
    <!-- <img src="assets/line.png" alt="" class="w-100 line-img"> -->
    <img src="assets/4.png" alt="" class="half-circle">

    <!-- ----------- content ----------- -->
    <div class="col-sm-6 content text-center">
      <h1 class="text-center" data-aos="fade-down" data-aos-duration="2000">
        بأقل من دقيقة تكون صفحتك جاهزة
      </h1>
      <p class="text-center p-2 promo-text" data-aos="fade-down" data-aos-duration="1000">
        تحتوي الصفحة على كل المعلومات الهامة، بما في ذلك حسابات التواصل الاجتماعي، صفحتك الرسمية، أرقام الهواتف،
        اللوكيشن، و اي رابط ترغب بإضافته
      </p>
      <button class="btn btn-dark get-started-btn" routerLink="/login">Get Started</button>
    </div>
    <div class="col-sm-6 lap-mobile-div">
      <img src="assets/5.png" alt="" class="w-100" data-aos="zoom-in-up" data-aos-duration="1000">
    </div>
  </div>

  <div class="text-center">
    <h1>FQAs</h1>
    <div class="scroll-div-container desktop">
      <div class="text-center carasouel">
        <img src="assets/1.jpg" class="d-block w-100 total-img-bg" alt="...">
        <button class="btn-rtl" id="movingRTL" (click)="addActiveFromRTL()"><i class="bi bi-caret-right"></i></button>
        <button class="btn-ltr" id="movingLTR" (click)="addActiveFromLTR()"><i class="bi bi-caret-left"></i></button>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p>ما هي الخدمات التي يقدمها الموقع؟</p>
              </div>
              <div class="back">
                <p>صفحة واحدة تجمع بين روابطك</p>
              </div>
            </div>
            <div class="box">
              <div class="front">
                <p> ماذا سوف استفاد من الموقع ؟</p>
              </div>
              <div class="back">
                <p> سهولة وصول عملائك الي جميع حساباتك بسهولة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> هل يمكنني امتلاك اكثر من حساب ؟</p>
              </div>
              <div class="back">
                <p> نعم , يمكنك امتلاك اكثر من حساب بحيث يكون لكل حساب عنوان بريد الكتروني مختلف</p>
              </div>
            </div>
            <div class="box">
              <div class="front">
                <p> كيف يمكنني اضافة الروابط الخاصة بي ؟</p>
              </div>
              <div class="back">
                <p> كل ما عليك هو تسجيل الدخول للموقع واضافة روابطك بسهولة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> هل يمكنني تحديد صورة خلفية للراوبط الخاصة بي ؟</p>
              </div>
              <div class="back">
                <p> نعم , عن طريق الذهاب الي الملف الشخصي و قم رفع و تغييرالصورة</p>
              </div>
            </div>
            <div class="box">
              <div class="front">
                <p> كيف يمكنني اضافة الروابط الخاصة بي ؟</p>
              </div>
              <div class="back">
                <p> كل ما عليك هو تسجيل الدخول للموقع واضافة روابطك بسهولة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> هل يمكنني تغيير اسم المستخدم الخاص بي ؟</p>
              </div>
              <div class="back">
                <p> نعم , عن طريق الذهاب الي الملف الشخصي و تغييرة</p>
              </div>
            </div>
            <div class="box">
              <div class="front">
                <p> هل يمكنني وضع اللوكيشن الخاص بي ؟</p>
              </div>
              <div class="back">
                <p> بالطبع عن طريق اضافة لينك جوجل ماب </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="scroll-div-container mobile" data-aos="zoom-in-up" data-aos-duration="1000">
      <div class="text-center carasouel">
        <img src="assets/1.jpg" class="d-block w-100 total-img-bg" alt="...">
        <button class="btn-rtl" id="movingRTL" (click)="addActiveFromRTL()"><i class="bi bi-caret-right"></i></button>
        <button class="btn-ltr" id="movingLTR" (click)="addActiveFromLTR()"><i class="bi bi-caret-left"></i></button>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p>ما هي الخدمات التي يقدمها الموقع؟</p>
              </div>
              <div class="back">
                <p>صفحة واحدة تجمع بين روابطك</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> ماذا سوف استفاد من الموقع ؟</p>
              </div>
              <div class="back">
                <p> سهولة وصول عملائك الي جميع حساباتك بسهولة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> هل يمكنني امتلاك اكثر من حساب ؟</p>
              </div>
              <div class="back">
                <p> نعم , يمكنك امتلاك اكثر من حساب بحيث يكون لكل حساب عنوان بريد الكتروني مختلف</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> كيف يمكنني اضافة الروابط الخاصة بي ؟</p>
              </div>
              <div class="back">
                <p> كل ما عليك هو تسجيل الدخول للموقع واضافة روابطك بسهولة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> هل يمكنني تحديد صورة خلفية للراوبط الخاصة بي ؟</p>
              </div>
              <div class="back">
                <p> نعم , عن طريق الذهاب الي الملف الشخصي و قم رفع و تغييرالصورة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> هل يمكنني تغيير اسم المستخدم الخاص بي ؟</p>
              </div>
              <div class="back">
                <p> نعم , عن طريق الذهاب الي الملف الشخصي و تغييرة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carasouel-container">
          <!-- this image for carasouel image movement -->
          <!-- <img src="assets/1.jpg" class="d-block w-100" alt="..."> -->
          <div class="cards">
            <div class="box">
              <div class="front">
                <p> هل يمكنني وضع اللوكيشن الخاص بي ؟</p>
              </div>
              <div class="back">
                <p> بالطبع عن طريق اضافة لينك جوجل ماب </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="text-center pt-5 pb-5">
    <h3> الحل الامثل لنشاطك التجاري </h3>
    <div class="container custom-cards" data-aos="fade-up" data-aos-duration="1500">
      <div class="card">
        <h3 class="title"><i class="bi bi-speedometer2 text-success "> Speed</i></h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle text-light">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50" />
          </svg>
          <p class="text-custom-card"> Speed </p>
        </div>
      </div>
      <div class="card">
        <h3 class="title"><i class="bi bi-shield-lock-fill text-secondary "> Safe</i> </h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50" />
          </svg>
          <p class="text-custom-card"> Safe </p>
        </div>
      </div>
      <div class="card">
        <h3 class="title"><i class="bi bi-share-fill text-primary"> Share</i> </h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50" />
          </svg>
          <p class="text-custom-card"> Share </p>
        </div>
      </div>
      <div class="card">
        <h3 class="title"><i class="bi bi-cloud-lightning-rain"> Storage</i> </h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50" />
          </svg>
          <p class="text-custom-card"> Storage </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5 d-flex justify-content-between align-items-center flex-wrap">
    <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1500">
      <img src="assets/3.jpg" alt="" class="social-image">
    </div>
    <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1800">
      <h3 class="p-3 text-center text-secondary">ضع جميع روابطك في صفحة واحدة وكن متميزا بين المنافسين مع فكرا لينك</h3>
    </div>
  </div>

  <div class="container pt-5 d-flex justify-content-between align-items-center flex-wrap">
    <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1800">
      <h3 class="p-3 text-center text-secondary">حل قوي لتسهيل الوصول الي حساباتك الشخصية والتجارية في لينك واحد ويجعل التواصل مع العملاء اسرع</h3>
    </div>
    <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1500">
      <img src="assets/4.jpeg" alt="" class="social-image">
    </div>
  </div>

  <div class="container pt-5 d-flex justify-content-between align-items-center flex-wrap">
    <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1500">
      <img src="assets/6.png" alt="" class="social-image">
    </div>
    <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1800">
      <h3 class="p-3 text-center text-secondary">الحل الامثل لوصول عملاءك اليك سجل الان وتواصل بسهولة وامان </h3>
    </div>
  </div>

  

</div>