.home-front-part {
    position: relative;
    height: calc(100vh - 55px);
}

.square-circle {
    // height: calc( 100vh - 80px );
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: 300px;
    z-index: -1;
}

.circle1,
.circle2,
.circle3 {
    position: absolute;
    z-index: -1;
    height: 35px;
}

.circle1 {
    top: 100px;
    left: 50%;
}

// .circle2{
//     margin-top: 60vh;
//     margin-left: 82%;
// }

.circle3 {
    bottom: 15px;
    right: 18%;
}

.half-circle {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 100px;
}

.line-img {
    position: absolute;
    bottom: -30px;
    height: 20px;
}

.content {
    padding-top: 150px;
    padding-left: 30px;
}

.promo-text {
    font-size: 18px;
}

.lap-mobile-div {
    padding-top: 80px;
}

.get-started-btn {
    padding: 8px 30px;
}

.col-sm-3 .bi {
    font-size: 65px;
}

.social-image {
    width: 100%;
    border-radius: 9px;
    height: 300px;
}


@media screen and (max-width:700px) {

    .circle1 {
        top: 83px;
        left: 85%;
    }

    .content {
        padding: 40px 5px;
        padding-bottom: 20px;
    }

    .lap-mobile-div {
        padding-top: 0px;
    }

}


// -------------------------------------------------------------------

.custom-cards {
    position: relative;
    height: 360px;
    top: 60px;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    height: 300px;
    width: calc(100% / 4);
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 80px;
    left: 6%;
    height: 5px;
    width: 88%;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 90%;
    transition: 0.4s ease-out;
}

.text-custom-card {
    font-size: 22px;
    font-weight: 700;
    top: -110px;
    /* left: 5px; */
    position: relative;
    z-index: 2;
    text-align: center;
    color: red;
    display: block;
    width: 100%;
    margin-left: calc(-50% + 61px);
}

.circle {
    position: absolute;
    top: 125px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #17141d;
    stroke-width: 2px;
    width: 100%;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.card:hover .text-custom-card {
    display: block;
}

@media screen and (max-width:700px) {
    .content{
        padding: 40px 12px;
    }
    .custom-cards{
        height: 275px;
    }
    .card .text-custom-card {
        font-size: 15px;
    }

    .card:not(:last-of-type) .text-custom-card {
        /* display: none; */
        left: -13px;
    }

    .card:hover .text-custom-card {
        font-size: 22px;
        left: 0;
    }

    .circle {
        top: 90px;
    }

    .card {
        display: flex;
        height: 230px;
        width: 116px;
    }
}