<div class="col-12">

    <div class="home-front-part">
        <img src="assets/2.png" alt="" class="square-circle">
        <img src="assets/3.png" alt="" class="circle1">
        <!-- <img src="assets/3.png" alt="" class="circle2" > -->
        <img src="assets/3.png" alt="" class="circle3">
        <!-- <img src="assets/line.png" alt="" class="w-100 line-img"> -->
        <img src="assets/4.png" alt="" class="half-circle">

        <!-- ----------- content ----------- -->
        <div class="col-sm-6 content">
            <h1 class="text-center">
                بأقل من دقيقة تكون صفحتك جاهزة
            </h1>
            <p class="text-center p-2 promo-text">
                تحتوي الصفحة على كل المعلومات الهامة، بما في ذلك حسابات التواصل الاجتماعي، صفحتك الرسمية، أرقام الهواتف، اللوكيشن، و اي رابط ترغب بإضافته
            </p>
        </div>
        <div class="col-sm-6 lap-mobile-div">
            <img src="assets/5.png" alt="" class="w-100">
        </div>
    </div>

</div>