<div class="col-12 all-content">
    <div class="col-sm-1 sidebar">
        <img src="assets/logo.jpg" alt="" class="positon-absolute rounded w-100">
        <div class="text-center">
            <div (click)="partView='home'">
                <i class="bi bi-house-door"></i>
                <small>Home</small>
            </div>
            <div (click)="partView='appearence'">
                <i class="bi bi-emoji-smile"></i>
                <small>appearence</small>
            </div>
            <div (click)="partView='Analytics'">
                <i class="bi bi-bar-chart"></i>
                <small>Analytics</small>
            </div>
        </div>
        <div class="dropdown profile position-bottom-abs">
            <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img [src]="currentUser.photoUrl" alt=""  class="profile">
                <strong>profile</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
            </ul>
        </div>
        <!-- <img [src]="currentUser.photoUrl" alt="" class="profile position-bottom-abs"> -->
    </div>
    <div class="col-sm-11 content">
        <div class="col-sm-6 p-3 pb-0">
            <!-- collapse part view -->
            <div class="text-center" *ngIf="partView=='home'">
                <h1>Hello , {{currentUser.Name}}</h1>
                <h6 class="text-start">let's create your social link</h6>
                <button class="btn btn-dark m-2 btnsAdd" type="button" data-bs-toggle="collapse"data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <i class="bi bi-plus-circle"></i> Add Link</button>
                <button class="btn btn-warning m-2 btnsAdd text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <i class="bi bi-pencil-square"></i> Edit Link</button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body bg-success">
                        <div class="icon-button">
                            <h5 class="position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWhatsapp" aria-expanded="false" aria-controls="collapseWhatsapp"><i class="bi bi-whatsapp"></i> whatsapp</h5>
                            <form class="card collapse" (ngSubmit)="submit()" [formGroup]="profile" id="collapseWhatsapp">
                                <button type="button" class="btn-close" aria-label="Close" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWhatsapp" aria-expanded="false" aria-controls="collapseWhatsapp"></button>
                                <h6 class="text-dark text-capitalize">Add your whatsapp </h6>
                                <div class="form-group whatsapp-group">
                                    <select class="form-select countryCode" name="countryCode" id="countryCode" (click)="getCodes()" formControlName="countryCode">
                                        <option *ngIf="!countries.length"> loading...</option>
                                        <option [value]="country" *ngFor="let country of countries; let i = index"> {{country}}</option>
                                    </select>
                                    <input type="url" class="form-control whatsapp-input" placeholder="whatsapp-number" formControlName="whatsapp">
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-dark" [disabled]="linkSubmitClick">save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-body bg-warning">
                        <div class="icon-button">
                            <h5 class="position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSnapchat" aria-expanded="false" aria-controls="collapseSnapchat"><i class="bi bi-snapchat"></i> snapchat</h5>
                            <form class="card collapse" (ngSubmit)="submit()" [formGroup]="profile" id="collapseSnapchat">
                                <button type="button" class="btn-close" aria-label="Close" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSnapchat" aria-expanded="false" aria-controls="collapseSnapchat"></button>
                                <h6 class="text-dark text-capitalize">Add your snapchat link</h6>
                                <input type="url" class="form-control snapchat-input" placeholder="snapchat-url" formControlName="snapchat">
                                <div class="text-center">
                                    <button class="btn btn-dark" [disabled]="linkSubmitClick">save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-body bg-danger">
                        <div class="icon-button">
                            <h5 class="position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInstagram" aria-expanded="false" aria-controls="collapseInstagram"><i class="bi bi-instagram"></i> instagram</h5>
                            <form class="card collapse" (ngSubmit)="submit()" [formGroup]="profile" id="collapseInstagram">
                                <button type="button" class="btn-close" aria-label="Close" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInstagram" aria-expanded="false" aria-controls="collapseInstagram"></button>
                                <h6 class="text-dark text-capitalize">Add your instagram link</h6>
                                <input type="url" class="form-control instagram-input" placeholder="instagram-url" formControlName="instagram">
                                <div class="text-center">
                                    <button class="btn btn-dark" [disabled]="linkSubmitClick">save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-body bg-dark">
                        <div class="icon-button">
                            <h5 class="position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTiktok" role="button" aria-expanded="false" aria-controls="collapseTiktok"><i class="bi bi-tiktok"></i>
                                tiktok</h5>
                            <form class="card collapse" (ngSubmit)="submit()" [formGroup]="profile" id="collapseTiktok">
                                <button type="button" class="btn-close" aria-label="Close" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTiktok" role="button"
                                    aria-expanded="false" aria-controls="collapseTiktok"></button>
                                <h6 class="text-dark text-capitalize">Add your tiktok link</h6>
                                <input type="url" class="form-control tiktok-input" placeholder="tiktok-url" formControlName="tiktok">
                                <div class="text-center">
                                    <button class="btn btn-dark" [disabled]="linkSubmitClick">save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-body bg-primary">
                        <div class="icon-button">
                            <h5 class="position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFacebook" aria-expanded="false" aria-controls="collapseFacebook"><i class="bi bi-facebook"></i> facebook</h5>
                            <form class="card collapse" (ngSubmit)="submit()" [formGroup]="profile" id="collapseFacebook">
                                <button type="button" class="btn-close" aria-label="Close" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFacebook" aria-expanded="false" aria-controls="collapseFacebook"></button>
                                <h6 class="text-dark text-capitalize">Add your facebook link</h6>
                                <input type="url" class="form-control facebook-input" placeholder="facebook-url" formControlName="facebook">
                                <div class="text-center">
                                    <button class="btn btn-dark" [disabled]="linkSubmitClick">save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-body bg-dark">
                        <div class="icon-button">
                            <h5 class="position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseX" aria-expanded="false" aria-controls="collapseX"><i
                                    class="bi bi-twitter-x"></i> X</h5>
                            <form class="card collapse" (ngSubmit)="submit()" [formGroup]="profile" id="collapseX">
                                <button type="button" class="btn-close" aria-label="Close" type="button" data-bs-toggle="collapse" data-bs-target="#collapseX" aria-expanded="false" aria-controls="collapseX"></button>
                                <h6 class="text-dark text-capitalize">Add your link</h6>
                                <input type="url" class="form-control x-input" placeholder="X-url" formControlName="X">
                                <div class="text-center">
                                    <button class="btn btn-dark" [disabled]="linkSubmitClick">save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- links choosed view -->
            <div class="the-links-choosed" *ngIf="partView=='home'">
                <div class="choose-link" *ngIf="!currentUser.facebook && !currentUser.whatsapp && !currentUser.tiktok 
                && !currentUser.X && !currentUser.snapchat && !currentUser.instagram  ">
                    <h1> let's start add new link</h1>
                </div>
                <div class="link-data bg-success text-light" *ngIf="currentUser.whatsapp">
                    <i class="bi bi-whatsapp"></i>whatsapp
                    <span>
                        <i class="bi bi-trash-fill m-1" (click)="deleteLink('whatsapp')"></i>
                    </span>
                </div>
                <div class="link-data bg-warning text-light" *ngIf="currentUser.snapchat">
                    <i class="bi bi-snapchat"></i>snapchat
                    <span>
                        <i class="bi bi-trash-fill m-1" (click)="deleteLink('snapchat')"></i>
                    </span>
                </div>
                <div class="link-data bg-danger text-light" *ngIf="currentUser.instagram">
                    <i class="bi bi-instagram"></i>instagram
                    <span>
                        <i class="bi bi-trash-fill m-1" (click)="deleteLink('instagram')"></i>
                    </span>
                </div>
                <div class="link-data bg-dark text-light" *ngIf="currentUser.tiktok">
                    <i class="bi bi-tiktok"></i>tiktok
                    <span>
                        <i class="bi bi-trash-fill m-1" (click)="deleteLink('tiktok')"></i>
                    </span>
                </div>
                <div class="link-data bg-primary text-light" *ngIf="currentUser.facebook">
                    <i class="bi bi-facebook"></i>Facebook
                    <span>
                        <i class="bi bi-trash-fill m-1" (click)="deleteLink('Facebook')"></i>
                    </span>
                </div>
                <div class="link-data bg-dark text-light" *ngIf="currentUser.X">
                    <i class="bi bi-twitter-x"></i>X
                    <span>
                        <i class="bi bi-trash-fill m-1" (click)="deleteLink('x')"></i>
                    </span>
                </div>
            </div>
            <!-- appearence view -->
            <div class="text-center" *ngIf="partView=='appearence'">
                <h1 class="p-4">Appearence</h1>
                <form [formGroup]="profile" class="p-5" (ngSubmit)="uploadPhoto()">
                    <div class="form-group pb-4">
                        <label for="file" style="float: left;"><b>upload your photo</b></label>
                        <input type="file" class="form-control" name="bg-promo" id="bg-promo"
                            (change)="uploadPromo($event)">
                        <img [src]="photoUrl" alt="" class="photo-promo" *ngIf="photoUrl">
                    </div>
                    <div class="form-group pb-4">
                        <label for="file" style="float: left;"><b>upload background photo</b></label>
                        <input type="file" class="form-control" name="bg-promo" id="bg-promo"
                            (change)="uploadBackgroundPromo($event)">
                        <img [src]="bgUrl" alt="" class="bg-promo" *ngIf="bgUrl">
                    </div>
                    <div class="form-group mb-2">
                        <label for="name" style="float: left;"><b>change your name</b></label>
                        <input type="text" class="form-control" name="" id="" placeholder="your name"
                            formControlName="Name">
                    </div>
                    <div class="form-group mb-2">
                        <label for="name" style="float: left;"><b>change your bio</b></label>
                        <input type="text" class="form-control" name="" id="" placeholder="your bio"
                            formControlName="bio">
                    </div>
                    <div class="text-center">
                        <p *ngIf="uploading=='uploadingImage'">saving your data ...</p>
                        <button class="btn btn-primary" [disabled]="uploading=='uploadingImage'"> save</button>
                    </div>
                </form>
            </div>
            <!-- Analytics -->
            <div class="text-start" *ngIf="partView=='Analytics'">
                <h1>Analytics</h1>
                <p class="text-secondary">Get a closer look on your links activity </p>
                <div class="analytics">
                    <h5 class="text-capitalize text-info">profile views: <span class="text-danger m-2">{{userAnalytics.profile}}</span></h5>
                    <h5 class="text-capitalize text-info">snapchat views : <span class="text-danger m-2">{{userAnalytics.snapchat}}</span></h5>
                    <h5 class="text-capitalize text-info">instagram  views: <span class="text-danger m-2">{{userAnalytics.instagram}}</span></h5>
                    <h5 class="text-capitalize text-info">whatsapp views : <span class="text-danger m-2">{{userAnalytics.whatsapp}}</span></h5>
                    <h5 class="text-capitalize text-info">tiktok views : <span class="text-danger m-2">{{userAnalytics.tiktok}}</span></h5>
                    <h5 class="text-capitalize text-info">x  views: <span class="text-danger m-2">{{userAnalytics.x}}</span></h5>
                    <h5 class="text-capitalize text-info">facebook  views: <span class="text-danger m-2">{{userAnalytics.facebook}}</span></h5>
                </div>
            </div>
        </div>
        <!-- mobile left view -->
        <div class="col-sm-6 bg-light d-flex justify-content-center" style="height: 100vh;">
            <div class="link-view-div text-center">
                <a href="https://moaazraed77.github.io/link/#/{{currentUser.userName}}" target="_blank" id="link">your
                    link</a>
                <button (click)="copyLink()">{{copyLinkText}}</button>
                <img [src]="currentUser.bgUrl" alt="" class="bg-img" *ngIf="currentUser.bgUrl">
                <!-- <img src="assets/logo.jpg" alt="" class="bg-img" *ngIf="!currentUser.bgUrl"> -->
                <img [src]="currentUser.photoUrl" alt="" class="profile">
                <br>
                <h6 class="text-capitalize text-center" *ngIf="currentUser.Name">{{currentUser.Name}}</h6>
                <h6 class="text-capitalize text-center" *ngIf="currentUser.bio">{{currentUser.bio}}</h6>
                <div class="alert bg-success" *ngIf="currentUser.whatsapp"><i class="bi bi-whatsapp"></i> whatsapp</div>
                <div class="alert bg-warning" *ngIf="currentUser.snapchat"><i class="bi bi-snapchat"></i> snapchat</div>
                <div class="alert bg-danger" *ngIf="currentUser.instagram"><i class="bi bi-instagram"></i> instagram
                </div>
                <div class="alert bg-dark" *ngIf="currentUser.tiktok"><i class="bi bi-tiktok"></i> tiktok</div>
                <div class="alert bg-primary" *ngIf="currentUser.facebook"><i class="bi bi-facebook"></i> facebook</div>
                <div class="alert bg-dark" *ngIf="currentUser.X"><i class="bi bi-twitter-x"></i> X</div>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="load"></app-loader>