@import '/src/styles.scss'; // to import sass variables

.card {
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 13px;
}

.sidebar {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 70px;
    box-shadow: inset -1px -1px 2px #00000014;
}

.sidebar .text-center {
    padding-top: 70px
}

.sidebar img.positon-absolute {
    position: absolute;
    top: 0;
}

.sidebar .bi {
    font-size: 35px;
    display: block;
    margin-top: 10px;
    margin-bottom: -5px;
    color: black;
    padding: 3px 0px;
}

.sidebar .bi:hover {
    background-color: #000000de;
    color: white;
    border-radius: 10px;
}

.sidebar small {
    text-transform: capitalize;
}

.profile {
    height: 45px;
    width: 45px;
    padding: 0px;
    border: solid 1px;
    border-radius: 50%;
}

.position-bottom-abs {
    position: absolute;
    bottom: 20px;
}

.content {
    height: 100vh;
}

.btnsAdd {
    font-size: 20px;
    padding: 10px 20px;
    color: white;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: 600;
}

.alert {
    margin-top: 10px;
}

h5 .bi,
.alert .bi {
    font-size: 30px;
    position: absolute;
    left: 5px;
    top: -3px;
    color: white;
}

.alert {
    color: white;
}

.alert .bi {
    left: 5px;
    left: 10px;
    top: -1px;
}

.text-success {
    color: #04cd8a !important;
}

h4 {
    text-transform: capitalize;
}

.link-view-div {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid black;
    min-height: 425px;
    width: 285px;
    margin-top: 75px;
}

.link-view-div .bg-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .1;
}

.card.card-body {
    color: white;
}

.bg-dark {
    background-color: #373737 !important;
}

input.whatsapp-input::placeholder {
    color: #04cd8a;
}

input.facebook-input::placeholder {
    color: blue;
}

input.instagram-input::placeholder {
    color: #cd3d04;
}

input.snapchat-input::placeholder {
    color: gold;
}

.whatsapp-input {
    box-shadow: inset -3px -3px 7px #cdffbb, inset 3px 3px 7px #cdffbb;
}

.instagram-input {
    box-shadow: inset -3px -3px 7px #ffdfe8, inset 3px 3px 7px #ffdfe8;
}

.snapchat-input {
    box-shadow: inset -3px -3px 7px #d5ca3e, inset 3px 3px 7px #eae173;
}

.tiktok-input,
.x-input {
    box-shadow: inset -3px -3px 7px lightgray, inset 3px 3px 7px lightgray;
}

.snapchat-input {
    box-shadow: inset -3px -3px 7px lightyellow, inset 3px 3px 7px lightyellow;
}

.facebook-input {
    box-shadow: inset -3px -3px 7px lightblue, inset 3px 3px 7px lightblue;
}


.choose-link {
    background-color: antiquewhite;
    border-radius: 15px;
    margin-top: 67px;
}

.choose-link h1 {
    text-align: center;
    font-family: initial;
    font-style: italic;
    padding: 45px 0px;
    width: 100%;
}