
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.card{
    padding: 10px;
}

.form-control{
    width: 100%;
    margin-top: 15px;
}

.title{
    text-shadow: 0px 0px 2px #837900;
}

.btn-secondary{
    padding: 4px 20px;
}

form{
    background-size: cover;
    background-repeat: no-repeat;
}
/* ------------------------------------------------------------------------- */
@import '/src/styles.scss'; 

.card {
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 13px;
}

.sidebar {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 70px;
    box-shadow: inset -1px -1px 2px #00000014;
}

.sidebar .text-center {
    padding-top: 70px
}

.sidebar img.positon-absolute {
    position: absolute;
    top: 0;
}

.sidebar .bi {
    font-size: 35px;
    display: block;
    margin-top: 10px;
    margin-bottom: -5px;
    color: black;
    padding: 3px 0px;
}

.sidebar .bi:hover {
    background-color: #000000de;
    color: white;
    border-radius: 10px;
}

.sidebar small {
    text-transform: capitalize;
}

.profile {
    height: 45px;
    width: 45px;
    padding: 0px;
    /* // border: solid 1px; */
    border-radius: 50%;
}

.position-bottom-abs {
    position: absolute;
    bottom: 20px;
}

.content {
    height: 100vh;
}

.btnsAdd {
    font-size: 17px;
    padding: 10px 20px;
    color: white;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: 600;
}

.alert {
    margin-top: 10px;
}

h5 .bi,
.alert .bi {
    font-size: 30px;
    position: absolute;
    left: 5px;
    top: -3px;
    color: white;
}

.alert {
    color: white;
}

.alert .bi {
    left: 5px;
    left: 10px;
    top: -1px;
}

.text-success {
    color: #04cd8a !important;
}

h4 {
    text-transform: capitalize;
}

.link-view-div {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid black;
    min-height: 425px;
    width: 310px;
    margin-top: 75px;
    height: fit-content;
}

.link-view-div #link {
    position: absolute;
    top: -35px;
    left: 10px;
}

.link-view-div button {
    position: absolute;
    z-index: 2;
    right: 2px;
    top: -33px;
    border-radius: 5px;
    padding: 1px 8px;
    padding-bottom: 1px;
    padding-bottom: 1px;
    line-height: initial;
    padding-bottom: 3px;
    font-size: smaller;
}

.link-view-div .bg-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .1;
}

.card.card-body {
    color: white;
}

.bg-dark {
    background-color: #373737 !important;
}

input.whatsapp-input::placeholder {
    color: #04cd8a;
}

input.facebook-input::placeholder {
    color: blue;
}

input.instagram-input::placeholder {
    color: #cd3d04;
}

input.snapchat-input::placeholder {
    color: gold;
}

.whatsapp-group {
    display: flex;
    align-items: center;
}

.whatsapp-input {
    box-shadow: inset -3px -3px 7px #cdffbb, inset 3px 3px 7px #cdffbb;
    width: calc(99% - 110px) !important;
    margin-left: 10px !important;
}

.instagram-input {
    box-shadow: inset -3px -3px 7px #ffdfe8, inset 3px 3px 7px #ffdfe8;
}

.snapchat-input {
    box-shadow: inset -3px -3px 7px #d5ca3e, inset 3px 3px 7px #eae173;
}

.tiktok-input,
.x-input {
    box-shadow: inset -3px -3px 7px lightgray, inset 3px 3px 7px lightgray;
}

.snapchat-input {
    box-shadow: inset -3px -3px 7px lightyellow, inset 3px 3px 7px lightyellow;
}

.facebook-input {
    box-shadow: inset -3px -3px 7px lightblue, inset 3px 3px 7px lightblue;
}

.whatsapp-group .whatsapp-input {
    margin-top: 0px;
}

.collapse .btn-dark {
    margin-top: 10px;
}
.the-links-choosed{
    padding: 0px 20px;
}
.choose-link {
    background-color: antiquewhite;
    border-radius: 15px;
    margin-top: 67px;
}

.choose-link h1 {
    text-align: center;
    font-family: initial;
    font-style: italic;
    padding: 45px 0px;
    width: 100%;
}

.collapse {
    margin-top: 25px;
}

select.countryCode {
    width: 100px !important;
    height: 40px;
}

.link-data {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-transform: capitalize;
}

.photo-promo,
.bg-promo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-top: 8px;
}

.bg-promo {
    border-radius: 10px;
}


@media screen and (max-width:700px) {
    .all-content{
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 70px;
    }
    .sidebar {
        height: fit-content;
        padding-top: 3px;
    }

    .sidebar .text-center {
        padding-top: 0px;
        display: inline-flex;
    }

    .sidebar .bi {
        text-align: center;
        font-size: 23px;
    }

    .sidebar div {
        padding-left: 10px;
    }

    .btnsAdd {
        padding: 10px 15px;
        font-size: 14px;
    }

    .position-bottom-abs {
        position: absolute;
        top: 15px;
        right: 21px;
    }

    .sidebar img.positon-absolute {
        position: absolute;
        top: 0;
        height: 75px;
        width: 75px !important;
        left: 0px;
    }
    .the-links-choosed {
        padding: 0px;
    }
    form.p-5{
        padding: 0px !important;
    }
}