
<div class="col-12">
    <div class="container">
        <div class="col-sm-5 card" [style.backgroundImage]="url">
            <form>
                <h2 class="text-center text-light title"> Profile Links</h2>
                <div class="form-group">
                    <input type="url" class="form-control" id="url" placeholder="facebook-url">
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" id="url" placeholder="tiktok-url">
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" id="url" placeholder="snapchat-url">
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" id="url" placeholder="X-url">
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" id="url" placeholder="whatsapp-url">
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" id="url" placeholder="instagram-url">
                </div>
                <div class="text-center">
                    <button class="btn btn-secondary text-capitalize" routerLink="/profile">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>