/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';


$bg-color-warnings:#F1DF26;

*{
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
}

@media screen and (max-width : 700px) {
    [class*="col-"]{
        width: 100%;
    }
}